.card {
	background-color: #2D3E50;
	color: #ffffff;
	border: none;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

/* Card header with image background */
.card-bg {
	background: url('../assets/regbg.jpg') center center/cover no-repeat;
	color: white;
	height: 25vh;
	text-align: center;
	padding: 40px 0;
	font-size: 1.5rem;
	font-weight: bold;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Form inputs */
.form-control {
	background-color: #22313E;
	color: #fff;
	border: none;
	border-radius: 15px;
	height: 40px;
}

/* Gradient button */
.btn-register, .btn-login {
	background: #138F97;
	color: #fff;
	border: none;
	border-radius: 20px;
	padding: 10px 0;
	font-weight: bold;
	transition: background 0.3s ease;
}

.btn-register:hover {
	color: #22313E;
	background: #138F97;
}

.form-control:focus {
	color: white;
    background-color: #22313E; /* Light blue background when input is focused */
    outline: none; /* Removes the default outline */
}

.card-footer {
	/* color: #a8a8d8; */
	background-color: #2D3E50;
	text-align: center;
	font-size: 0.9rem;
}

.card-footer a {
	color: #138F97;
	text-decoration: none;
	font-weight: bold;
}

.card-footer a:hover {
	text-decoration: underline;
}

#twoFaDiv {
	display: none;
	border-top: 1px solid #6c757d;
}
