@keyframes shake {
	0%, 100% { transform: translateX(0); }
	25% { transform: translateX(-5px); }
	50% { transform: translateX(5px); }
	75% { transform: translateX(-5px); }
}

.shake {
	animation: shake 0.3s ease-in-out;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	background: linear-gradient(135deg, #2F5760, #0F3E60);
}

html {
	height: -webkit-fill-available;
}

main {
}

.sidenav {
	color: #FFFFFF;
	background-color: #182B38;
	min-height: 100vh;
}

.homebtn {
    height: 80px;
    width: 400px;
    background-color: #28a745; /* Green background (same color) */
    color: white; /* Text color */
    border: none;
    border-radius: 10px; /* Rounded corners */
    /* font-size: 24px; /* Font size */
    font-weight: bold; */
    line-height: 80px; /* Vertically center the text */
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Smooth transitions */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.homebtn:hover {
    transform: translateY(-5px); /* Slightly lift the button on hover */
    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}

.register {
	background-color: #F15151;
}

.login {
	color: #DFE3E7;
	height: 80px;
    width: 400px;
	background-color: none;
	border: 1px solid #DFE3E7;
    border-radius: 10px; /* Rounded corners */
	font-weight: bold; */
    line-height: 80px; /* Vertically center the text */
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Smooth transitions */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.login:hover {
	color: black;
	transform: translateY(-5px); /* Slightly lift the button on hover */
    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}

.game-mode {
	color: #DFE3E7;
	height: 80px;
	width: 400px;
	background-color: inherit;
	border: 2px solid rgb(199, 227, 255);
	border-radius: 10px; /* Rounded corners */
	font-weight: bold; */
	line-height: 80px; /* Vertically center the text */
	transition: transform 0.1s ease, box-shadow 0.1s ease; /* Smooth transitions */
	cursor: pointer; /* Pointer cursor on hover */
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.game-mode:hover {
	color: white;
	transform: translateY(-5px); /* Slightly lift the button on hover */
	box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}

.modal-dialog
.modal-content{
	background-color: inherit;
}

.btn-close {
	background-color: gray;
}

i {
	Padding-right: 10px;
}

#navlist {

}

#navlist .nav-item:first-child {
    /* First item stays at the top by default */
}

#navlist .nav-item:last-child {
    margin-bottom: auto; /* This pushes the last item to the bottom */
}

.separator {
	padding-top: 10px;
	padding-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.separator hr {
	width: 120px;
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 10px;
}

.separator span {
    white-space: nowrap;
    font-size: 14px;
    color: #ccc;
}

@media (max-width: 868px) {
    .homebtn {
        height: 60px;
        width: 300px;
        font-size: 16px; /* Adjust font size */
        line-height: 60px; /* Adjust line height */
    }
	.separator hr {
		width: 100px;
	}
}

@media (max-width: 480px) {
    .homebtn {
        height: 50px;
        width: 250px;
        font-size: 14px; /* Adjust font size for very small screens */
        line-height: 50px; /* Adjust line height */
    }
	.separator hr {
		width: 70px;
	}
}