body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	background: linear-gradient(135deg, #2F5760, #0F3E60);
}

html {
	height: -webkit-fill-available;
}

main {
}

.sidenav {
	color: #FFFFFF;
	background-color: #182B38;
	min-height: 100vh;
}

.homebtn {
    height: 80px;
    width: 400px;
    background-color: #28a745;
    color: white;/
    border: none;
    border-radius: 10px;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.homebtn:hover {
    transform: translateY(-5px);
    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.3);
}

.register {
	background-color: #F15151;
}

.login {
	color: #DFE3E7;
	height: 80px;
    width: 400px;
	background-color: none;
	border: 1px solid #DFE3E7;
    border-radius: 10px;
	font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.login:hover {
	color: black;
	transform: translateY(-5px);
    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.3);
}

i {
	Padding-right: 10px;
}

#navlist {

}

#navlist .nav-item:first-child {
}

#navlist .nav-item:last-child {
    margin-bottom: auto;
}

.separator {
	padding-top: 10px;
	padding-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.separator hr {
	width: 120px;
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 10px;
}

.separator span {
    white-space: nowrap;
    font-size: 14px;
    color: #ccc;
}

@media (max-width: 868px) {
    .homebtn {
        height: 60px;
        width: 300px;
        font-size: 16px;
        line-height: 60px;
    }
	.separator hr {
		width: 100px;
	}
}

@media (max-width: 480px) {
    .homebtn {
        height: 50px;
        width: 250px;
        font-size: 14px;
        line-height: 50px;
    }
	.separator hr {
		width: 70px;
	}
}