<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Transcendence</title>
	    <!-- Load static files -->
		{% load static %}
		<!-- Link to the external CSS file -->
</head>
<body>
	<DIv>
		<h1 style="color: blueviolet;">Transcendence</h1>
	</DIv>
	<div>
		<img src="{% static 'images/transcendence.jpg' %}" alt="">
		<h2>this the first page of Transcendence project that should be designed.</h2>
		<h2>To register click <a href="register/">here</a></h2>

	</div>
</body>
</html>